.feedback-radio {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form ul {
    padding: 0;
    margin-top: 3%;
}

form li {
    list-style: none;
    padding: 0.5em;
    clear: both;
    overflow: hidden;
    position: relative;
}

form li span {
    margin: 0 .3em 0 0;
    float: left;
}

form li div span {
    margin: 0;
    display: block;
    width: 100%;
    float: left;
}

label span,
.section span,
p span,
.likert span {
    display: inline;
    float: none;
}

form li div label,
form li span label {
    font-size: 80%;
    padding-top: 0.25em;
    clear: both;
    display: block;
}

fieldset {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

label.desc,
legend { 
    font-weight: bold;
    color: #35408E;
    padding: 0 0 0.15em 0;
    margin: 0 0 0.15em 0;
    display: block;
}

label.choice {
    display: block;
    cursor: pointer;
    font-size: 100%;
    line-height: 150%;
    margin: -1.25em 0 0 1.5em;
    padding: 0 0 0.25em 0;
}

.likert table {
    margin: 0 0 1em 0;
    width: 100%;
}

.likert caption {
    font-weight: bold;
    text-align: left;
    margin: 0 0 0.5em 0;
}

.likert input {
    margin: 0.25em 0;
}

.likert tbody td label {
    display: block;
    color: #35408E;
}

.likert td {
    text-align: center;
    padding: 1em;
    width: 100px;
    vertical-align: middle; 
}

.likert thead td {
    font-size: 16px;
    padding: 10px 40px;
    color: #262626;
}

.likert tbody th {
    padding: 30px 8px;
    text-align: left;
}

.likert tbody th label {
    color: #35408E;
    font-size: 16px;
}

form li.section {  
    padding: 1em 0 0 0;
}

form li.section h3 {
    font-size: 110%;
    line-height: 135%;
    margin: 0 0 3px 0;
    padding: 12px 1% 0 1%;
}

.feedback-radio input[type="radio"] {
    display: none; /* Hide the default radio button */
}

.feedback-radio input[type="radio"] + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
    line-height: 20px; /* Adjust line height for alignment */
    display: inline-block; /* Allow padding to take effect */
}

.feedback-radio input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    border: 2px solid #35408E; 
    border-radius: 50%; 
    background-color: transparent; 
}

.feedback-radio input[type="radio"]:checked + label::before {
    background-color: #35408E; /* Change background color on selection */
}
